[req]
distinguished_name = dn
x509_extensions = v3_ext
prompt = no

[dn]
CN = lab4.test
O = Cryptography Lab

[v3_ext]
keyUsage = critical, digitalSignature, keyEncipherment
subjectAltName = DNS:lab4.test, DNS:www.lab4.test
